<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy -Location When In Use Usage Description</key>
	<string>Application wants to use your location</string>
	<key>NSCameraUsageDescription</key>
	<string>Need camera access to take pictures</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need library access to upload images</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FacebookClientToken</key>
	<string>ef00b180d5ef9b606b5904232bddd59c</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-share-api</string>
		<string>fbapi</string>
	</array>
	<key>FacebookDisplayName</key>
	<string>APP-NAME</string>
	<key>FacebookAppID</key>
	<string>602717327794927</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb602717327794927</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
